/* Target all navbar links */

.navbar .nav-link {
  color: #52AC60 ;  /* your desired color */
}

.navbar {
  background-color: #ffffff;
}

/* Optional: change color on hover */
.navbar .nav-link:hover {
  color: #ff3300;
}

/* Active link */
.navbar .nav-link.active {
  color: #52AC60 !important;  /* active link color */
}

.navbar .nav-link.active:hover {
  color: #0044cc !important;          /* active hover color */
}

.Background_home {
  width: 100%;
  height: 50%;
  margin-bottom: -250px;
  overflow: hidden;
  border-bottom: 5px solid black;
  background: rgba(0, 0, 0, 0.5); /* adjust darkness */
}

.text_back {
  background-color: white;
  color: #52AC60 !important; 
  width: 90%;
  display: block;
  padding: 30px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 10;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
}

.hero {
  height: 700px;
  position: relative;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  border-bottom: 5px solid black;
  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("Resources/bg_test.png") center/cover no-repeat;
}

.accordion-button {
    background-color: #f8f9fa;
    color: #000000;
}

.accordion-button:hover {
    background-color: #e2e6ea;
}

.accordion-button:not(.collapsed) {
    background-color: #52AC60 !important;
    color: #ffffff;
}

.accordion-button:not(.collapsed):hover {
    background-color: #3b8f4c !important;
}

.accordion-button {
    justify-content: center !important;   /* centers text horizontally */
    text-align: center !important;        /* ensures multiline text is centered */
}

.accordion-button::after {
    margin-left: auto !important;  /* stops the arrow from pushing text left */
}

.container .mt-4 .hide_mobile {
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .container .mt-4 .hide_mobile {
    visibility: hidden;
  }
}